.center{
    text-align: center
}

.font{
    font-family: "Times New Roman", Times, serif;color:#002c69;
}


.style1{
  border: solid black;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
}
